<!DOCTYPE html>
<html>
<head>
<title>Tran Huy – Stay Hungry, Stay Foolish</title>

<meta charset="utf-8" />
<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
<meta name="description" content="Stay Hungry, Stay Foolish">
<meta property="og:description" content="Stay Hungry, Stay Foolish" />
<meta name="author" content="Tran Huy" />
<meta property="og:title" content="About" />
<meta property="twitter:title" content="About" />
<meta name="description" content="Chào các bạn, tại thời điểm tôi viết blog này, tôi đang sắp nghỉ việc ở một công ty startup và chuẩn bị mở công ty của riêng mình. Tôi viết bài viết này để đánh dấu ngày 12/2/2019 là ngày tôi tạo ra cái blog này với mục đích chia sẻ những kinh nghiệm mà tôi có trong quá trình làm việc.
" />
<meta property="og:description" content="Chào các bạn, tại thời điểm tôi viết blog này, tôi đang sắp nghỉ việc ở một công ty startup và chuẩn bị mở công ty của riêng mình. Tôi viết bài viết này để đánh dấu ngày 12/2/2019 là ngày tôi tạo ra cái blog này với mục đích chia sẻ những kinh nghiệm mà tôi có trong quá trình làm việc.
" />
{% block cssblock %}
{% endblock %}
</head>

<body>
{% include 'homepage/navbar.html' %}
{% block content %}

{% endblock %}
{% include 'homepage/footer.html' %}

</body>
</html>