<!DOCTYPE html>
<html>
<head>
<title>Tran Huy – Stay Hungry, Stay Foolish</title>

<meta charset="utf-8" />
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
<meta name="description" content="Stay Hungry, Stay Foolish">
<meta property="og:description" content="Stay Hungry, Stay Foolish" />
<meta name="author" content="Tran Huy" />
<meta property="og:title" content="About" />
<meta property="twitter:title" content="About" />
<base href="/">
{% block cssblock %}
{% endblock %}
</head>

<body>
{% include 'homepage/navbar.html' %}
{% block content %}

{% endblock %}
{% include 'homepage/footer.html' %}

</body>
</html>
